<footer class="contact box-container" id="contact">
        <p>¡Vamos a trabajar juntos! <br> Las siguientes imagenes te llevaran a mi gmail o a mi LinkedIn respectivamente
        </p>
        <section class="footer-url">
                <a href="mailto:leandro.ca.98@gmail.com"><img src="assets/img/icono-gmail.png" alt="Icono de gmail"
                                class="zoom" /></a>
                <a href="https://www.linkedin.com/in/leandro-carlino/" target="_blank"><img
                                src="assets/img/icono-linkedin.png" alt="Icono de Linkedin" class="zoom" /></a>
                <a href="https://github.com/LeandroCarlino" target="_blank"><img src="assets/img/icono-git.png"
                                alt="Icono de Github" class="zoom" /></a>
        </section>
</footer>