<section class="box-container">
    <section class="about-me">
        <section class="biography">
            <section class="about-me-tittle">
                <img src="assets/img/about-me.png" alt="Profile icon" class="about-me-icon" />
                <h3>Sobre mi...</h3>
            </section>
            <section class="about-me-text">
                <p>
                    Soy un desarrollador web de <span id="age">{{ age }}</span> años, especializado en <span
                        class="blue">frontend</span>, con experiencia en la <span class="blue">metodología SCRUM</span>
                    y un sólido manejo de <span class="blue">HTML, CSS, SASS, Bootstrap, Javascript, Typescript,
                        Angular, Angular Material y NgPrime</span>.
                </p>
                <p> Vivo en <span class="blue">San Miguel de Tucumán</span> y actualmente trabajo de
                    manera remota como <span class="blue">Desarrollador Web con Angular</span>.
                </p>
                <p>
                    Estoy enfocado en mejorar mis conocimientos tecnicos de <span class="blue">backend</span> para
                    aumentar mi competitividad en el mercado
                    laboral, y además, estoy tomando <span class="blue">clases de inglés</span> para alcanzar un nivel
                    profesional.
                </p>
            </section>
        </section>
    </section>

    <!-- Tecnologías -->

    <section class="about-me-technologies">
        <h3>Habilidades tecnicas:</h3>
        <img src="assets/img/icono-html.png" alt="Icono de HTML" class="zoom" title="HTML" />
        <img src="assets/img/icono-css.png" alt="Icono de CSS" class="zoom" title="CSS" />
        <img src="assets/img/icono-bs.png" alt="Icono de Bootstrap" class="zoom" title="Bootstrap" />
        <img src="assets/img/icono-wp.png" alt="Icono de Wordpress" class="zoom" title="Wordpress" />
        <img src="assets/img/icono-js.png" alt="Icono de Javascript" class="zoom" title="Javascript" />
        <img src="assets/img/icono-typescript.png" alt="Icono de Typescript" class="zoom" title="Wordpress" />
        <img src="assets/img/icono-angular.png" alt="Icono de Angular" class="zoom" title="Angular" />
        <img src="assets/img/icono-git.png" alt="Icono de GitHub" class="zoom" title="Github" />
    </section>

    <section class="about-me-cv">
        <h3>Curriculum Vitae:</h3>

        <button type="button" (click)="openClosePDF()" id="open-button" class="btn">
            <span *ngIf="!openPdf">Mostrar PDF</span>
            <span *ngIf="openPdf">Cerrar PDF</span>
        </button>


        <div *ngIf="openPdf">
            <iframe
                src="https://drive.google.com/file/d/1zsQwTAZBzJYYbsFciopvNqYDZowcMwB5/preview#zoom=100%&navbar=0&toolbar=0"
                width="630" height="880" allow="autoplay" class="pdf" title="pdf" async></iframe>
        </div>
    </section>
</section>