<header id="introduction" class="introduction">
    <section class="introduction-container">
        <img src="assets/img/photo.png" alt="Leandro Carlino" class="profile" />
        <section class="introduction-text">
            <h1>¡Hola! Soy Leandro Carlino</h1>
            <p class="p-tittle">Un desarrollador web y estudiante de programación de Argentina.</p>
            <p class="p-tittle">Estudio ingles, y tengo experiencia como Angular Frontend Developer.</p>
            <p class="p-tittle">Estoy buscando desarrollarme activamente, ¡te invito a conocerme!</p>
        </section>
    </section>
</header>