<section class="projects-container box-container" id="projects">
    <h3 class="projects-header">Algunos de mis proyectos:</h3>
    <div style="margin-bottom: 1em;">
        <div class="mySwiper">
            <!-- Proyectos -->

            <ngb-carousel>
                <ng-template ngbSlide *ngFor="let project of projects">
                    <div class="picsum-img-wrapper" (click)="goToPage(project.url)">
                        <img [src]="project.image" alt="Random first slide" />
                    </div>
                    <div class="carousel-caption">
                        <h3>{{ project.name }}</h3>
                        <!-- <p>{{project.description}}</p> -->
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
    </div>
</section>