/* Variables CSS */

:root {
    --color-background: black;
    --color-text: whitesmoke;
    --color-accent: #1fbed5;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Inter", sans-serif;
    background-color: black;
}

h1 {
    color: whitesmoke;
    margin-bottom: 0.5em;
}

h3 {
    text-align: center;
}

a {
    text-decoration: none;
}

@media (max-width: 1250px) {
    .biography {
        flex-direction: column;
    }

    .about-me {
        margin: 0;
        padding: 1.2em;
        display: flex;
        flex-direction: column;
    }

    .about-me-text {
        margin: auto;
    }

    .about-me-tittle {
        text-align: center;
        margin: auto;
    }
}

@media (max-width: 850px) {
    .container-navbar {
        width: 100vw;
        padding: 1.5em;
        justify-content: space-around;
    }

    .container-navbar li {
        margin: 0em 1em 0em 1em;
    }

    .introduction-container {
        display: flex;
        flex-direction: column;
        height: 90vh;
        padding: 2em;
    }

    .introduction-text {
        margin-left: 0;
        padding: 0.5em;
    }

    .profile {
        margin-bottom: 2em;
    }

    .about-me-text {
        padding: 1em;
    }

    .pdf {
        width: 100%;
        height: 540px;
    }

    .technologies-container {
        width: 94%;
    }

    .mySwiper {
        width: auto;
    }

    .project-image {
        width: 70vw;
    }
}

/* Button */

.btn {
    box-shadow: inset 0 0 0 2px #5ddef1;
    color: #5ddef1;
    transition: color 0.25s 0.0833333333s;
    position: relative;
    background: none;
    border: none;
    cursor: pointer;
    letter-spacing: 5px;
    padding: 1em;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 2em;
}

.btn::before,
.btn::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: "";
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
}

.btn::before {
    border-bottom-width: 2px;
    border-left-width: 2px;
}

.btn::after {
    border-top-width: 2px;
    border-right-width: 2px;
}

.btn:hover {
    color: white;
}

.btn:hover::before,
.btn:hover::after {
    border-color: white;
    transition: border-color 0s, width 0.25s, height 0.25s;
    width: 100%;
    height: 100%;
}

.btn:hover::before {
    transition-delay: 0s, 0s, 0.25s;
}

.btn:hover::after {
    transition-delay: 0s, 0.25s, 0s;
}

/* Others */

.zoom {
    transition: transform 0.2s;
}

.zoom:hover {
    transform: scale(1.2);
}

.zoom2 {
    transition: transform 0.2s;
}

.zoom2:hover {
    transform: scale(1.02);
}

.blue {
    color: #1fbed5;
}

/*Keyframes*/

@keyframes neon {

    0%,
    35%,
    45%,
    65%,
    100% {
        text-shadow: whitesmoke 0 1px 8px, #2bc7db 0 1px 18px, #2bc7db 0 1px 24px;
    }

}