/* otra animacion */


/* body {
  background: #fff;
}

.title {
  font-size: 2.5rem;
  font-family: "Lobster", cursive;
}

.wrapper {
  animation: scroll 1000s linear infinite;
  background: url("https://4kwallpapers.com/images/walls/thumbs_3t/10307.jpg"),
    #111111;
  color: #eee;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective-origin: 50% 50%;
}

@keyframes scroll {
  100% {
    background-position: 0px -400%;
  } 
}

@media (prefers-reduced-motion) {
  .wrapper {
    animation: scroll 100s linear infinite;
  }
}

@media (min-width: 670px) {
  .title {
    font-size: 5rem;
  }
} */


/* Animacion fondo */

body {
    background-color: #000;
}

.main {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 1px;
    width: 1px;
    background-color: #fff;
    border-radius: 50%;
    z-index: -1;
    box-shadow: 
    /* Lado izquierdo */
    -40vw -20vh 0px 1px #fff, 
    -35vw -15vh 1px 1px #fff, 
    -38vw -10vh 1px 1px #fff, 
    -32vw 30vh 1px 0px #fff, 
    -37vw 40vh 1px 0px #fff, 
    -40vw -10vh 1px 0px #fff, 
    -33vw 25vh 1px 1px #fff, 
    -39vw 45vh 1px 0px #fff, 
    -42vw -15vh 1px 1px #fff, 
    -35vw -40vh 1px 0px #fff, 
    -40vw 35vh 0px 1px #fff, 
    -30vw -15vh 1px 1px #fff, 
    -40vw 10vh 0px 1px #fff, 
    -35vw 50vh 1px 0px #fff, 
    -40vw 5vh 1px 1px #fff, 
    -45vw -25vh 1px 0px #fff, 
    -43vw 15vh 1px 1px #fff, 
    -35vw -25vh 1px 0px #fff, 
    -48vw -5vh 1px 0px #fff, 
    -40vw -40vh 0px 1px #fff, 
    -45vw -15vh 1px 1px #fff, 
    -30vw -35vh 1px 1px #fff, 
    -35vw -25vh 1px 1px #fff, 
    /* Lado derecho, ajustado para simetría */
    40vw -20vh 0px 1px #fff, 
    35vw -15vh 1px 1px #fff, 
    38vw -10vh 1px 1px #fff, 
    32vw 30vh 1px 0px #fff, 
    37vw 40vh 1px 0px #fff, 
    40vw -10vh 1px 0px #fff, 
    33vw 25vh 1px 1px #fff, 
    39vw 45vh 1px 0px #fff, 
    42vw -15vh 1px 1px #fff, 
    35vw -40vh 1px 0px #fff, 
    40vw 35vh 0px 1px #fff, 
    30vw -15vh 1px 1px #fff, 
    40vw 10vh 0px 1px #fff, 
    35vw 50vh 1px 0px #fff, 
    40vw 5vh 1px 1px #fff, 
    45vw -25vh 1px 0px #fff, 
    43vw 15vh 1px 1px #fff, 
    35vw -25vh 1px 0px #fff, 
    48vw -5vh 1px 0px #fff, 
    40vw -40vh 0px 1px #fff, 
    45vw -15vh 1px 1px #fff, 
    30vw -35vh 1px 1px #fff, 
    35vw -25vh 1px 1px #fff;


    animation: zoom 30s alternate infinite;
    /* Animación más lenta */
}

@keyframes zoom {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.20);
        /* Menos movimiento */
    }
}


/* Variables CSS */

:root {
    --color-background: black;
    --color-text: whitesmoke;
    --color-accent: #1fbed5;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}


html {
    scroll-behavior: smooth;
}

body {
    font-family: "Inter", sans-serif;
    /* background-color: var(--color-background); */
    /* background-color: whitesmoke; */
}

h1 {
    color: var(--color-text);
    margin-bottom: 0.5em;
    font-size: 19px;
}

h3 {
    text-align: center;
    color: var(--color-text);
    font-size: 18px;
}

a {
    text-decoration: none;
}


@media (min-width: 850px) {
    /* .box-container {
        margin: 0 4em auto;
    } */

    .box-area {
        width: 80vw;
        margin: auto;
    }
}

@media (max-width: 1250px) {
    .biography {
        flex-direction: column;
    }

    .about-me {
        margin: 0;
        padding: 1.2em;
        display: flex;
        flex-direction: column;
    }

    .about-me-text {
        margin: auto;
    }

    .about-me-tittle {
        text-align: center;
        margin: auto;
    }
}

@media (max-width: 850px) {

    .container-navbar {
        width: 100vw;
        padding: 1.5em;
        justify-content: space-around;
    }

    .container-navbar li {
        margin: 0em 1em 0em 1em;
    }

    .introduction-container {
        display: flex;
        flex-direction: column;
        height: 90vh;
        padding: 2em;
    }

    .introduction-text {
        margin-left: 0;
        padding: 0.5em;
    }

    .profile {
        margin-bottom: 2em;
    }

    .about-me-text {
        padding: 1em;
    }

    .pdf {
        width: 100%;
        height: 540px;
    }

    .technologies-container {
        width: 94%;
    }

    .mySwiper {
        width: auto;
    }

    .project-image {
        width: 70vw;
    }
}

/* Button */

.btn {
    box-shadow: inset 0 0 0 2px #5ddef1;
    color: #5ddef1;
    transition: color 0.25s 0.0833333333s;
    position: relative;
    background: none;
    border: none;
    cursor: pointer;
    letter-spacing: 5px;
    padding: 1em;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 2em;
}

.btn::before,
.btn::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: "";
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
}

.btn::before {
    border-bottom-width: 2px;
    border-left-width: 2px;
}

.btn::after {
    border-top-width: 2px;
    border-right-width: 2px;
}

.btn:hover {
    color: white;
}

.btn:hover::before,
.btn:hover::after {
    border-color: white;
    transition: border-color 0s, width 0.25s, height 0.25s;
    width: 100%;
    height: 100%;
}

.btn:hover::before {
    transition-delay: 0s, 0s, 0.25s;
}

.btn:hover::after {
    transition-delay: 0s, 0.25s, 0s;
}

/* Others */

.zoom {
    transition: transform 0.2s;
}

.zoom:hover {
    transform: scale(1.2);
}

.zoom2 {
    transition: transform 0.2s;
}

.zoom2:hover {
    transform: scale(1.02);
}

.blue {
    color: #1fbed5;
}

/*Keyframes*/

@keyframes neon {

    0%,
    35%,
    45%,
    65%,
    100% {
        text-shadow: whitesmoke 0 1px 8px, #2bc7db 0 1px 18px, #2bc7db 0 1px 24px;
    }

}